@model Product_Display.Models.TextRoller

<form asp-action="Edit" method="post">
    <div class="modal-header">
        <h5 class="modal-title">Edit Marquee Text</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="Text" class="form-label"></label>
            <textarea asp-for="Text" class="form-control"></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
