body {
    background-color: #ffffff;
}

.borderless-table th,
.borderless-table td {
    border: none !important;
    vertical-align: middle;
}

@media only screen and (max-width: 768px) {
    .currency-card {
        font-size: 0.7rem;
    }
}
